.categories {
  width: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.categoriesHeading {
  font-size: 35px;
  font-weight: 800;
  color: rgba(230, 143, 80, 1);
}
.categoriesSubHeading {
  font-size: 25px;
  font-weight: 600;
  color: rgba(54, 69, 79, 1);
  margin-bottom: 60px;
}

@media (max-width: 700px) {
  .categories {
    padding: 20px;
  }

  .categoriesHeading {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  .categoriesSubHeading {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
  }
}

/* YourComponent.module.css */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Media query for mobile screens */
@media (max-width: 700px) {
  .mobile-image {
    display: block; /* Show on mobile */
  }

  .desktop-image {
    display: none; /* Hide on mobile */
  }
}
